@import "tailwindcss";

@theme {
  --color-bege: #f5e6cc;
  --color-marfim: #faf3e0;
  --color-verde-oliva: #8daeaf;
  --color-azul: #3a506b;
  --color-terracota: #d16a48;
  --color-terracota-2: #d95e37;
  --color-teste: #a1d298;

  --color-neutral-0: #fff;
  --color-neutral-1: #1d1d1d;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll-animation {
  display: flex;
  gap: 20px;
  white-space: nowrap;
  animation: scroll 18s linear infinite;
}
