@import "tailwindcss";

@theme {
  --color-bege: #f5e6cc;
  --color-marfim: #faf3e0;
  --color-verde-oliva: #8a9a5b;
  --color-azul: #3a506b;
  --color-terracota: #d16a48;
  --color-terracota-2: #d06990;

  --color-neutral-0: #fff;
  --color-neutral-1: #1d1d1d;
}
